<div class="head-detalle">
  <span>
    <h1 mat-dialog-title *ngIf="isEditing()">
      Editar edificio
    </h1>
    <h1 mat-dialog-title *ngIf="!isEditing()">
      Crear edificio
    </h1>
  </span>

  <span class="fill-space"></span>

</div>
<div mat-dialog-content class="form-window">

  <form [formGroup]="renterForm" class="full-width form-window " >

    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre del inquilino"
             formControlName="name"
             [ngModel]="renter?.name">
    </mat-form-field>


    <mat-form-field class="full-width">
      <input matInput placeholder="NIF"
             formControlName="nif"
             [ngModel]="renter?.nif">
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions>

  <button
    mat-raised-button
    (click)="close()">
    Cerrar
  </button>

  <button
    mat-raised-button
    color="warn"
    (click)="onClickDelete()">
    Eliminar
  </button>


  <span class="fill-space"></span>

  <button
    [class.spinner]="loading"
    mat-raised-button
    color="primary"
    (click)="onClickSave()">
    Guardar
  </button>

</div>
