<p>
  <mat-toolbar color="primary" *ngIf="!router.url.includes('login')">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-button (click)="onLogout()" > Logout </button>
  </mat-toolbar>
</p>
