<div class="head-detalle">
  <span>
    <h1 mat-dialog-title *ngIf="isEditing()">
      Editar edificio
    </h1>
    <h1 mat-dialog-title *ngIf="!isEditing()">
      Crear edificio
    </h1>
  </span>

  <span class="fill-space"></span>

</div>
<div mat-dialog-content class="form-window">

    <form [formGroup]="buildingForm" class="full-width form-window " >

    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre del edificio"
      formControlName="name"
             [ngModel]="building?.name">
    </mat-form-field>


      <mat-form-field class="full-width">
        <input matInput
               #addresstext
                class="input"
               type="text"
               [(ngModel)]="autocompleteInput"
               formControlName="address"
               placeholder="Direccion"
        >
      </mat-form-field>
      <google-map #map id="map"  >
      </google-map>
    </form>
  </div>

<div mat-dialog-actions>

  <button
    [class.spinner]="loading"
    mat-raised-button
    (click)="closeDialog()">
    Cerrar
  </button>

  <button
    [class.spinner]="loading"
    mat-raised-button
    color="warn"
    (click)="onClickDelete()">
    Eliminar
  </button>


  <span class="fill-space"></span>

  <button
    [class.spinner]="loading"
    mat-raised-button
    color="primary"
    (click)="oncClickOpenFlats()">
    Ver pisos
  </button>

  <button
    [class.spinner]="loading"
    mat-raised-button
    color="primary"
    (click)="onClickSave()">
    Guardar
  </button>
</div>
