.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.form-window {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.full-width {
  width: 95%!important;
  margin-right: 5%;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#map_canvas {
  position: relative;
  height: 100vh;
  width: 100vh;
}
