table {
  width: 100%;
  margin-bottom: 70px;
}

.button-acciones {
  margin-left: 8px;
  margin-right: 8px;
}

.buscador {
  font-size: 100% !important;
  height: 70px;
  overflow: auto;
  padding: 0 24px;
  display: flex;
}

.cont-listado {
  position: relative;
  height: calc(100vh - 215px);
  background-color: white;
}

.cont-listado-small {
  position: relative;
  height: 500px;
  background-color: white;
}

.cont-listado-parent {
  overflow: hidden;
}

.cont-listado-child {
  overflow: auto;
}

mat-icon:hover {
  background-color: transparent!important;

}

mat-icon {
  position: relative;
  top: 0 !important;
}

mat-chip {
  top: 0;
}

.fill-space {
  flex: 1 1 auto;
}

.green.mat-chip {
  background-color: #66BB6A!important;
  color: black!important;
}

.yellow.mat-chip {
  background-color: #FFEE58!important;
  color: black!important;
}

.red.mat-chip {
  background-color: #EF5350!important;
  color: white!important;
}

.blue.mat-chip {
  background-color: #3B5998!important;
  color: white!important;
}

.paginator-fixed .mat-paginator-page-size{
  margin-right: -15px !important;
}

.disabled {
  background: #e0e0e0!important;
}
.mat-input-underline {
  background-color: #FF0000;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.base-screen{
  margin: 0px;
  min-height: 95vh;
}
.full-screen{
  margin: 0px;
  min-height: 100vh;
}

.base-container{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.base-table-full-width {
  width: 95%!important;
  margin-right: 5%;
}
.flex-space{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.full-width {
  width: 95%!important;
  margin-right: 5%;
}

.heigth {
  height: 50px;
}


.half-width {
  min-width: 45%!important;
  margin-right: 5%;
}
.full-width-textfield {
  width: 95%;
  max-width: 500px;
}
.centered-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.row-flex-left{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: stretch;
  align-self: flex-start;
}

.self_center{
  align-self: center;
}
.margin-top {
  margin-top: 16px;
}
textarea { height: auto; }
