<div class="base-table-full-width">
  <mat-toolbar class="buscador">
      <span>
        <button (click)="getAlterations()" style="margin-left: -11px" mat-icon-button>
          <mat-icon>refresh</mat-icon>
        </button>
      </span>

    <span class="fill-space"></span>

    <div *ngIf="!(flatId != null) || alterations == null">
      <h1>OBRAS </h1>
    </div>
    <div *ngIf="flatId != null && alterations != null">
      <h2> OBRAS PISO {{getFlatName(alterations[0].flat_id)}}</h2>
    </div>

    <span class="fill-space"></span>
    <span>
      <input

        type="search"
        placeholder="Edificio"
        [value]="initialName"
        [formControl]="flatsFormControl"
        #flat
        [matAutocomplete]="autoFlat"
        (focus)="onFocusSearchFlat()"
        aria-label="building"
        (ngModelChange)="onTextChanged($event)"
      >
      <mat-autocomplete
        #autoFlat="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onFlatChanged($event)">
        <mat-option
          *ngFor="let flat of filteredFlats | async"
          [value]="flat">
          {{getFlatName(flat.id)}}

        </mat-option>
      </mat-autocomplete>
    </span>
    <button
      class="button-acciones"
      color="primary"
      mat-raised-button
      (click)="onClickNew()">
      Nuevo
    </button>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="flat">
      <th mat-header-cell *matHeaderCellDef> Piso </th>
      <td mat-cell *matCellDef="let element"> {{getFlatName(element.flat_id)}} </td>
    </ng-container>
    getBuildingName
    <!-- Name Column -->
    <ng-container matColumnDef="alter_date">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{getDate(element.alter_date)}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>


    <ng-container matColumnDef="info">
      <th
        mat-header-cell
        style="padding-left: 10px;"
        *matHeaderCellDef>Detalle</th>
      <td mat-cell
          style="padding-right: 8px; width: 90px;"
          *matCellDef="let element"
          class="col-listado-1">
        <app-icon-button
          [image]="'remove_red_eye'"
          [tooltip]="'Detalles'"
          (click)="onClickView(element)">
        </app-icon-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

  </table>

</div>
