<div class="head-detalle">
  <span>
    <h1 mat-dialog-title *ngIf="isEditing()">
      Editar contrato de alquiler
    </h1>
    <h1 mat-dialog-title *ngIf="!isEditing()">
      Crear contrato de alquiler
    </h1>
  </span>

  <span class="fill-space"></span>

</div>
<div mat-dialog-content class="form-window">

  <form [formGroup]="leaseForm" class="full-width form-window " >
    <mat-form-field class="full-width" style="margin-top: 20px">
      <input

        type="search"
        placeholder="Edificio"
        matInput
        [value]="initialName"
        [formControl]="buildingsFormControl"
        #flat
        [matAutocomplete]="autoBuilding"
        (focus)="onFocusSearchFlat()"
        aria-label="building"
      >
      <mat-autocomplete
        #autoBuilding="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onFlatChanged($event)">
        <mat-option
          *ngFor="let flat of allFlats "
          >
          {{getFlatName(flat.id)}}

        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Inquilino"
             formControlName="renter"
             [ngModel]="lease?.renter_id">
    </mat-form-field>
    <div class="row-flex">
      <mat-form-field class="half-width">
        <input matInput placeholder="Precio"
               formControlName="price"
               [ngModel]="lease?.price">
      </mat-form-field>

      <mat-form-field class="half-width">
        <input matInput placeholder="Fecha de inicio"
               formControlName="start_date"
               [ngModel]="lease?.start_date">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="Fecha de fin"
               formControlName="end_date"
               [ngModel]="lease?.end_date">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="Deposito"
               formControlName="deposit"
               [ngModel]="lease?.deposit">
      </mat-form-field>
    </div>


  </form>
</div>

<div mat-dialog-actions>

  <button
    mat-raised-button
    (click)="closeDialog()">
    Cerrar
  </button>

  <button
    mat-raised-button
    color="warn"
    (click)="onClickDelete()">
    Eliminar
  </button>


  <span class="fill-space"></span>

  <button
    [class.spinner]="loading"
    mat-raised-button
    color="primary"
    (click)="onClickSave()">
    Guardar
  </button>

</div>
